*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
background-color:rgb(243, 235,212);
}
a {
    text-decoration: none;
    color: inherit;
}
li { 
list-style: none;
}
.container{
    margin: 40px auto;
    width: 1440px;
}
.header{
    display: flex;
    justify-content:space-between ;
    align-items:center ;
}
.header img{
    width: 121px ;
    height:38px;
}
.header li{
    background-color: rgb(136,139,139);
    color:hsl(36, 100%, 99%);
    padding: 10px;
    text-align: center;
}

.nav{
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.design{
    display: flex;
}
.img-design img{
    width: 550px;
    height: 400px;
margin-left: 200px;
}
.text-design{
 width: 649px;
 height: 150px;
 margin-top:250px;
 left: 53px;
}
.subtitle h3{
   width: 284px;
   height: 38px;
   margin-bottom: 50px;
   margin-left: 235px;
}
.btn2{
    display: inline-block;
   margin-bottom: 120px;
    background-color: rgb(68,40,237);
    padding: 10px;
    text-align: center;
    color: hsl(36, 100%, 99%);
    margin-left: 80%;
}
.btn2 :hover {
   background-color:hsl(5, 85%, 63%) ; 
}

